

Images/linearized_time_evolution\.png

Images/linearized_position\.png


Images/linearized_time_evolution\.png

Images/linearized_position\.png

*.slxc

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
build_ros_model.sh

*.tgz

*.cpp

*.h

Integration/boat_controller_ert_rtw/

boat_simulator_ros_node_ert_rtw/
